*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    background-color: #0c192c;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0 4%;
}

.content
{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1
{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span
{
    color: #ff3753;
}

.content button
{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content button a
{
    color: #fff;
    text-decoration: none;
}

.launch-timer
{
    display: flex;

}
.launch-timer div
{
    flex-basis: 100px;
}
.launch-timer div p
{
    font-size: 60px;
    margin-bottom: -14px;
}








/* Hintergrund ********************************************/
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}